@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900&display=swap");
@import-normalize;

/* BUTTONS */
.button {
  color: #666;
  background-color: #eee;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.button:visited {
  color: #666;
}

.button:focus,
.button:hover {
  background-color: #f6f6f6;
  text-decoration: none;
  outline: 0;
}

.button.active,
.button.is-active,
.button:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  background-color: #eee;
  border-color: #cfcfcf;
  color: #d4d4d4;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button-action,
.button-action-flat {
  background-color: #a5de37;
  border-color: #a5de37;
  color: #fff;
}

.button-action-flat:visited,
.button-action:visited {
  color: #fff;
}

.button-action-flat:focus,
.button-action-flat:hover,
.button-action:focus,
.button-action:hover {
  background-color: #b9e563;
  border-color: #b9e563;
  color: #fff;
}

.button-action-flat.active,
.button-action-flat.is-active,
.button-action-flat:active,
.button-action.active,
.button-action.is-active,
.button-action:active {
  background-color: #a1d243;
  border-color: #a1d243;
  color: #8bc220;
}

.button-caution,
.button-caution-flat {
  background-color: #ff4351;
  border-color: #ff4351;
  color: #fff;
}

.button-caution-flat:focus,
.button-caution-flat:hover,
.button-caution:focus,
.button-caution:hover {
  background-color: #ff7680;
  border-color: #ff7680;
  color: #fff;
}

.button-caution-flat.active,
.button-caution-flat.is-active,
.button-caution-flat:active,
.button-caution.active,
.button-caution.is-active,
.button-caution:active {
  background-color: #f64c59;
  border-color: #f64c59;
  color: #ff1022;
}
.button-rounded {
  border-radius: 4px;
}

.button-circle {
  border-radius: 100%;
}

.button-box,
.button-circle,
.button-square {
  padding: 0 !important;
  width: 40px;
}

.button-box.button-jumbo,
.button-circle.button-jumbo,
.button-square.button-jumbo {
  width: 60px;
}

.button-raised {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 1px;
  line-height: 38px;
  background: linear-gradient(#f6f6f6, #e1e1e1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
}

.button-raised:focus,
.button-raised:hover {
  background: linear-gradient(to top, #fff, #dcdcdc);
}
.button-raised.button-action {
  border-color: #9ad824;
  background: linear-gradient(#afe24d, #9ad824);
}

.button-raised.button-action:focus,
.button-raised.button-action:hover {
  background: linear-gradient(to top, #b5e45a, #94cf22);
}

.button-3d {
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 7px 0 #bbb, 0 8px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 0 #bbb, 0 8px 3px rgba(0, 0, 0, 0.2);
}

.button-3d:focus,
.button-3d:hover {
  -webkit-box-shadow: 0 7px 0 #bbb, 0 8px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 0 #bbb, 0 8px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.active,
.button-3d.is-active,
.button-3d:active {
  top: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-box-shadow: 0 2px 0 #bbb, 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 #bbb, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.button-action {
  -webkit-box-shadow: 0 7px 0 #8bc220, 0 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 0 #8bc220, 0 8px 3px rgba(0, 0, 0, 0.3);
}

.button-3d.button-action:focus,
.button-3d.button-action:hover {
  -webkit-box-shadow: 0 7px 0 #84b91f, 0 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 0 #84b91f, 0 8px 3px rgba(0, 0, 0, 0.3);
}

.button-3d.button-action.active,
.button-3d.button-action.is-active,
.button-3d.button-action:active {
  -webkit-box-shadow: 0 2px 0 #6b9619, 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 #6b9619, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-3d.button-caution {
  -webkit-box-shadow: 0 7px 0 #ff1022, 0 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 0 #ff1022, 0 8px 3px rgba(0, 0, 0, 0.3);
}

.button-3d.button-caution:focus,
.button-3d.button-caution:hover {
  -webkit-box-shadow: 0 7px 0 #ff0618, 0 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 0 #ff0618, 0 8px 3px rgba(0, 0, 0, 0.3);
}

.button-3d.button-caution.active,
.button-3d.button-caution.is-active,
.button-3d.button-caution:active {
  -webkit-box-shadow: 0 2px 0 #dc0010, 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 #dc0010, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.button-jumbo {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  padding: 0 60px;
}

html,
body {
  margin: 0;
  width: 100%;
}

h1,
h2,
p,
i,
a,
.first-letter,
.authorName a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Playfair Display", serif;
  font-display: swap;
  font-size: 48px;
  text-align: left;
  margin-bottom: 8px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-display: swap;
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  margin: 56px 0 -13px -1.883px;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
}

p,
i,
a {
  margin-top: 21px;
  font-display: swap;
  font-family: "Lora";
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

a {
  margin-top: 0;
  text-decoration: underline;
}

blockquote {
  font-display: swap;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 55px 0 33px 0;
  /* text-align: center; */
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

code {
  font-size: 18px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 3px 5px;
}

mark,
.highlighted {
  background: #7dffb3;
}

.first-letter {
  font-display: swap;
  overflow-wrap: break-word;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.subtitle {
  font-display: swap;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

::selection {
  background-color: lavender;
}

*:focus {
  outline: none;
}

.lyrics {
  text-decoration: none;
  color: #156161;
}

.pdfview {
  width: "100vw";
  display: "block";
  margin: "0 auto";
}
.spaced {
  padding: 0 10px;
}

.favicon {
  width: 35px;
  border-radius: 23px;
  padding-right: 5px;
}

.bhajanRow {
  font-size: 21px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
}

.Search_LeftSide {
  /* flex: ; */
  display: block;
  padding: 30px 10px;
}

.Search_RightSide .button {
  margin-left: 10px;
}
.full {
  width: calc(100% - 20px);
  margin: 10px;
}

.App-header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: orange;
  height: 56px;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid #d4b9b9;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.42);
}

.rest {
  padding-top: 56px;
}

.back::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 0.2em solid black;
  border-top: 0.2em solid black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(225deg);
  margin-left: 4px;
  transition: transform 0.5s;
}

.back:hover::before {
  transform: translate(-10px, 0) rotate(225deg);
}

.paypalButton {
  margin-top: 50px;
  z-index: 0;
  position: relative;
}

.restPage {
  padding-top: 70px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}
.pay {
  padding: 50px 20px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.pdf {
  display: block;
  margin: 0 auto;
}

.pdf-next {
  z-index: 2;
  position: fixed;
  height: calc(100vh - 56px);
  width: 50vw;
  top: 56px;
  right: 0;
}

.pdf-previous {
  z-index: 2;
  position: fixed;
  height: calc(100vh - 56px);
  width: 50vw;
  top: 56px;
  left: 0;
}

#search {
  flex-grow: 1;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 20px;
  margin-right: 10px;
}

.title {
  justify-content: center;
  align-content: center;
  font-size: 19px;
  color: #170019d4;
  width: 80px;
  text-decoration: none;
  margin: 0;
  line-height: 1;
  letter-spacing: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
} */

mark {
  background-color: yellow;
  padding: 0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.rightAligned {
  text-align: right;
}

.pdf-next-arrow {
  position: fixed;
  z-index: 2;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  top: calc(50% + 56px);
  left: 20px;
  animation: grow-next 1s forwards;
}

.pdf-prev-arrow {
  position: fixed;
  z-index: 2;
  transform: rotate(-45deg);
  top: calc(50% + 56px);
  right: 20px;
  animation: grow-prev 1s forwards;
}

@keyframes grow-next {
  100% {
    transform: scale(2) rotate(135deg);
  }
}

@keyframes grow-prev {
  100% {
    transform: scale(2) rotate(-45deg);
  }
}

.modal-window {
  position: fixed;
  background-color: rgba(142, 131, 131, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window.open {
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: calc(100vw - 64px - 20px);
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  border-radius: 10px;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.block {
  display: block;
  margin: 10px 0;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  border: none;
}
.modal-close:hover {
  color: black;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.mr-8 {
  margin-right: 8px;
}

.copyRight {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: white;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

/* 
NOTIE
*/

.notie-container {
  font-size: 1.6rem;
  height: auto;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
  .notie-container {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 750px) {
  .notie-container {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .notie-container {
    font-size: 1rem;
  }
}

.notie-background-success {
  background-color: #57bf57;
}

.notie-background-warning {
  background-color: #d6a14d;
}

.notie-background-error {
  background-color: #e1715b;
}

.notie-background-info {
  background-color: #4d82d6;
}

.notie-background-neutral {
  background-color: #a0a0a0;
}

.notie-background-overlay {
  background-color: #fff;
}

.notie-textbox {
  color: #fff;
  padding: 20px;
}

.notie-textbox-inner {
  margin: 0 auto;
  max-width: 900px;
}

.notie-overlay {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.notie-button {
  cursor: pointer;
}

.notie-button,
.notie-element {
  color: #fff;
  padding: 10px;
}

.notie-element-half {
  width: 50%;
}

.notie-element-half,
.notie-element-third {
  display: inline-block;
  box-sizing: border-box;
}

.notie-element-third {
  width: 33.3333%;
}

.notie-alert {
  cursor: pointer;
}

.notie-input-field {
  background-color: #fff;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.notie-select-choice-repeated {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  box-sizing: border-box;
}

.notie-date-selector-inner {
  margin: 0 auto;
  max-width: 900px;
  -o-user-select: none;
  user-select: none;
}

.notie-date-selector-inner [contenteditable],
.notie-date-selector-inner [contenteditable]:focus {
  outline: 0 solid transparent;
}

.notie-date-selector-up {
  transform: rotate(180deg);
}
