@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900");

html,
body {
  margin: 0;
  width: 100%;
}

h1,
h2,
p,
i,
a,
.first-letter,
.authorName a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  text-align: left;
  margin-bottom: 8px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  margin: 56px 0 -13px -1.883px;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
}

p,
i,
a {
  margin-top: 21px;
  font-family: "Lora";
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

a {
  text-decoration: underline;
}

blockquote {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 55px 0 33px 0;
  /* text-align: center; */
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

code {
  font-size: 18px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 3px 5px;
}

mark,
.highlighted {
  background: #7dffb3;
}

.first-letter {
  overflow-wrap: break-word;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.subtitle {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

::selection {
  background-color: lavender;
}

*:focus {
  outline: none;
}

.pdfview {
  width: "100vw";
  display: "block";
  margin: "0 auto";
}
.spaced {
  padding: 0 10px;
}

.favicon {
  width: 35px;
  border-radius: 23px;
  padding-right: 5px;
}

.bhajanRow {
  font-size: 21px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
}

.Search_LeftSide {
  /* flex: ; */
  display: block;
  padding: 30px 10px;
}

.Search_RightSide .button {
  margin-left: 10px;
}
.full {
  width: calc(100% - 20px);
  margin: 10px;
}

.App-header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: orange;
  height: 56px;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid #d4b9b9;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.42);
}

.rest {
  padding-top: 56px;
}

.back::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 0.2em solid black;
  border-top: 0.2em solid black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(225deg);
  margin-left: 4px;
  transition: transform 0.5s;
}

.back:hover::before {
  transform: translate(-10px, 0) rotate(225deg);
}

.paypalButton {
  margin-top: 50px;
  z-index: 0;
  position: relative;
}

.restPage {
  padding-top: 70px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}
.pay {
  padding: 50px 20px;
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.pdf {
  display: block;
  margin: 0 auto;
}

.pdf-next {
  z-index: 2;
  position: fixed;
  height: calc(100vh - 56px);
  width: 50vw;
  top: 56px;
  right: 0;
}

.pdf-previous {
  z-index: 2;
  position: fixed;
  height: calc(100vh - 56px);
  width: 50vw;
  top: 56px;
  left: 0;
}

#search {
  flex-grow: 1;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 20px;
  margin-right: 10px;
}

.title {
  justify-content: center;
  align-content: center;
  font-size: 19px;
  color: #170019d4;
  width: 80px;
  text-decoration: none;
  margin: 0;
  line-height: 1;
  letter-spacing: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

mark {
  background-color: yellow;
  padding: 0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.rightAligned {
  text-align: right;
}

.pdf-next-arrow {
  position: fixed;
  z-index: 2;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  top: calc(50% + 56px);
  left: 20px;
  animation: grow-next 1s forwards;
}

.pdf-prev-arrow {
  position: fixed;
  z-index: 2;
  transform: rotate(-45deg);
  top: calc(50% + 56px);
  right: 20px;
  animation: grow-prev 1s forwards;
}

@keyframes grow-next {
  100% {
    transform: scale(2) rotate(135deg);
  }
}

@keyframes grow-prev {
  100% {
    transform: scale(2) rotate(-45deg);
  }
}

.modal-window {
  position: fixed;
  background-color: rgba(142, 131, 131, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window.open {
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: calc(100vw - 64px - 20px);
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  border-radius: 10px;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.block {
  display: block;
  margin: 10px 0;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  border: none;
}
.modal-close:hover {
  color: black;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
